<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dongguk theater</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <h3>메인페이지</h3>
    <% if (user && user.is_login_status) { %>
      <a href="/user/profile"><%= user.name %></a>
      <form action="/api/auth/logout" method="post">
        <button type="submit">로그아웃</button>
      </form>
    <% } else { %>
      <a href="/login">로그인</a>
      <a href="/signup">회원가입</a>
    <% } %>
    <a href="movie/ticketing">예매</a>
    <div class="container">
      <% for(let i = 0; i < movies.length; i++){ %>
        <div>
          <img src="<%= movies[i].poster_image %>" width="200" alt="포스터" />
          <div>
            <a href="movie/movieDetail/<%= movies[i].title %>">
              <%= movies[i].title %>
            </a>
          </div>
          <div><%= movies[i].running_time %></div>
          <div><%= movies[i].age_limit %></div>
        </div>
        <hr />
      <% } %>
    </div>
  </body>
</html>
