<!DOCTYPE html>
<html lang="en">
<%- include('include/head') %>
<link rel="stylesheet" href="/styles/index_styles.css">
<title>Movie ticket reservation</title>
</head>

<body>
  <%- include('include/header') %>
  <ul id="movie-list">
    <% for(let i = 0; i < movies.length; i++){ %>
    <li>
      <img class="poster" src="<%= movies[i].poster_image %>" alt="포스터" />
      <div class="movie_info">
        <div class="movie_title_wrapper">
          <% if (movies[i].age_limit === 'ALL') { %>
          <img class="grade_img" src="images/grade_ALL.png" alt="grade all">
          <% } else if (movies[i].age_limit === '12') { %>
          <img class="grade_img" src="images/grade_12.png" alt="grade 12">
          <% } else if (movies[i].age_limit === '15') { %>
          <img class="grade_img" src="images/grade_15.png" alt="grade 15">
          <% } else if (movies[i].age_limit === '18') { %>
          <img class="grade_img" src="images/grade_18.png" alt="grade 18">
          <% } %>
          <a class="movie-title" href="movie/movieDetail/<%= movies[i].title %>"><%= movies[i].title %></a>
        </div>
        <div class="running_time_wrapper">
          <img class="clock-icon" src="images/icon_clock_black.svg" alt="grade 18">
          <div class="running-time"><%= movies[i].running_time %></div>
        </div>
      </div>
    </li>
    <% } %>
  </ul>
</body>

</html>