<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>donguuk theater</title>
  </head>
  <body>
    <h3>줄거리</h3>
    <img src="<%= movies[0].poster_image %>" width="200" alt="포스터" />
    <h4><%= movies[0].title %></h4>
    <p><%= movies[0].summary %></p>
    <div><%= movies[0].running_time %>분</div>
    <div><%= movies[0].age_limit %>세</div>
    <div>개봉일자: <%= movies[0].released_date %></div>
  </body>
</html>
