<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/my_page.css" />

    <title>My Page</title>
  </head>
  <body>
    <%- include('include/header') %>

    <h1>Welcome to Your My Page</h1>
    <main>
      <div id="My_Information">
        <p>User ID: <%= user.id %></p>
        <p>Name: <%= user.name %></p>
        <p>Email: <%= user.email %></p>
        <p>Telephone: <%= user.telephone %></p>
      </div>
      <div id="Reservation_Details">
        <a href="/user/orderList">예매내역</a>
      </div>
    </main>
  </body>
</html>
