<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/shared.css" />
  <link rel="stylesheet" href="/styles/my_page.css" />
  <link rel="stylesheet" href="/styles/my_page_shared.css" />

  <title>My Page</title>
</head>

<body>
  <%- include('include/header') %>
  <main>
    <div class="info_container">
      <ul class="nav">
        <li class="nav_button select"><a href="profile">나의 정보</a></li>
        <li class="nav_button"><a href="orderList">예매 내역</a></li>
      </ul>
      <div class="content">
        <div id="My_Information">
          <div class="header">회원정보</div>
          <div class="data">
            <span class="key">아이디</span>
            <span class="value"><%= user.id %></span>
          </div>
          <div class="data">
            <span class="key">이름</span>
            <span class="value"><%= user.name %></span>
          </div>
          <div class="data">
            <span class="key">이메일</span>
            <span class="value"><%= user.email %>
            </span>
          </div>
          <div class="data">
            <span class="key">전화번호</span>
            <span class="value"><%= user.telephone %></span>
          </div>
          <div class="footer">
            <div class="user_modify_btn_wrapper">
              <button class="btn" onclick="deleteUser()">회원탈퇴</button>
              <button class="btn" onclick="updateUser()">정보수정</a>
            </div>
          </div>
        </div>
        <div id="latest_orders">
          <div class="header">최근 예매내역</div>
          <div class="order_list">
            <% for (let i = 0; i < orderList.length; i++) { %>
            <div class="order_item">
              <div class="poster_wrapper">
                <img class="poster" src="<%= orderList[i].poster_image %>" alt="포스터" />
              </div>
              <div class="order_info">
                <div class="movie_title_wrapper">
                  <% if (orderList[i].age_limit === 'ALL') { %>
                  <img class="grade_img" src="/images/grade_ALL.png" alt="grade all">
                  <% } else if (orderList[i].age_limit === '12') { %>
                  <img class="grade_img" src="/images/grade_12.png" alt="grade 12">
                  <% } else if (orderList[i].age_limit === '15') { %>
                  <img class="grade_img" src="/images/grade_15.png" alt="grade 15">
                  <% } else if (orderList[i].age_limit === '18') { %>
                  <img class="grade_img" src="/images/grade_18.png" alt="grade 18">
                  <% } %>
                  <a class="movie-title" href="/movie/movieDetail/<%= orderList[i].title %>"><%= orderList[i].title %></a>
                </div>
                <div class="movie_time">
                  <%= orderList[i].start_time %> ~ <%=orderList[i].end_time %>
                </div>
                <div class="movie_room"><%= orderList[i].room_id %>관</div>
                <div class="movie_seat"><%= orderList[i].seats %></div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
  </main>
  <script>
    function updateUser() {
      return window.location.href = "/user/update"
    }

    async function deleteUser() {
      try {
        // 주문 삭제를 위한 비동기 요청 보내기
        const response = await fetch(`http://localhost:8080/api/user`, {
          method: 'DELETE',
        });

        const data = await response.json();

        if (!response.ok) {
          return alert("회원탈퇴 중 오류가 발생하였습니다.");
        }

        window.location.href = "/"
        alert('회원탈퇴 되었습니다.');

      } catch (error) {
        return alert("회원탈퇴 중 오류가 발생하였습니다.");
      }
    }
  </script>
</body>

</html>