<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>예매 목록</title>
  <link rel="stylesheet" href="/styles/my_page_shared.css" />
  <link rel="stylesheet" href="/styles/order_list.css" />
  <link rel="stylesheet" href="/styles/shared.css" />
  <style></style>
</head>

<body>
  <%- include('include/header') %>
  <main>
    <div class="info_container">
      <ul class="nav">
        <li class="nav_button"><a href="profile">나의 정보</a></li>
        <li class="nav_button select"><a href="orderList">예매 내역</a></li>
      </ul>
      <div class="content">
        <div class="order_list">
          <div class="header">최근 예매내역</div>
          <% for (let i = 0; i < orderList.length; i++) { %>
          <div class="order_item">
            <div class="order_num_container">
              <div class="order_num_wrapper">
                <div class="order_num_header">예매 번호</div>
                <div class="order_num"><%= orderList[i].order_id %></div>
              </div>
            </div>
            <img class="poster_image" src="<%= orderList[i].poster_image %>" width="200" alt="포스터" />
            <div class="order_info">
              <div class="movie_title_wrapper">
                <% if (orderList[i].age_limit === 'ALL') { %>
                <img class="grade_img" src="/images/grade_ALL.png" alt="grade all">
                <% } else if (orderList[i].age_limit === '12') { %>
                <img class="grade_img" src="/images/grade_12.png" alt="grade 12">
                <% } else if (orderList[i].age_limit === '15') { %>
                <img class="grade_img" src="/images/grade_15.png" alt="grade 15">
                <% } else if (orderList[i].age_limit === '18') { %>
                <img class="grade_img" src="/images/grade_18.png" alt="grade 18">
                <% } %>
                <a class="movie-title" href="/movie/movieDetail/<%= orderList[i].title %>"><%= orderList[i].title %></a>
              </div>
              <div class="data">
                <span class="key">관람일시</span>
                <span class="value"><%= orderList[i].start_day %></span>
              </div>
              <div class="data">
                <span class="key">시작시간</span>
                <span class="value"><%= orderList[i].start_time %></span>
              </div>
              <div class="data">
                <span class="key">종료시간</span>
                <span class="value"><%=orderList[i].end_time %></span>
              </div>
              <div class="data">
                <span class="key">상영관</span>
                <span class="value"><%= orderList[i].room_id %>관</span>
              </div>
              <div class="data">
                <span class="key">좌석</span>
                <span class="value"><%= orderList[i].seats %></span>
              </div>
              <div class="footer">
                <div class="user_modify_btn_wrapper">
                  <% if (orderList[i].status === '예매 취소') { %>
                  <button data-order-id="<%= orderList[i].order_id %>" class=" btn" onclick="cancelOrder(this)"><%= orderList[i].status %></button>
                  <% } else { %>
                  <button class="btn btn_gray" data-order-id="<%= orderList[i].order_id %>" onclick="cancelOrder(this)"><%= orderList[i].status %></button>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    </div>
  </main>
  <script>
    async function cancelOrder(button) {
      const orderId = button.getAttribute('data-order-id');
      try {
        // 주문 삭제를 위한 비동기 요청 보내기
        const response = await fetch(`http://localhost:8080/api/order/${orderId}`, {
          method: 'DELETE',
        });

        const data = await response.json();

        if (!response.ok) {
          if (data.message === "not_exist_order_error") {
            return alert("존재하지 않은 예매상품입니다.");
          }

          if (data.message === "cannot_cancel_order_error") {
            return alert("취소 가능한 예매상품이 아닙니다.");
          }

          return alert("예매 취소 중 오류가 발생하였습니다");

        }

        window.location.href = "/"
        alert('예매가 취소되었습니다.');

      } catch (error) {
        return alert("예매 취소 중 오류가 발생하였습니다");
      }
    }
  </script>
</body>

</html>