<!-- ticket.ejs -->

<!DOCTYPE html>
<html lang="en">
<%- include('include/head') %>
<link rel="stylesheet" href="/styles/ticket_styles.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<title>예매</title>

<body>
  <%- include('include/header') %>
  <a href="/movie/ticketing?date=2023-12-02">2일</a>
  <a href="/movie/ticketing?date=2023-12-03">3일</a>
  <a href="/movie/ticketing?date=2023-12-04">4일</a>
  <a href="/movie/ticketing?date=2023-12-05">6일</a>
  <a href="/movie/ticketing?date=2023-12-06">6일</a>
  <a href="/movie/ticketing?date=2023-12-07">7일</a>
  <h3>티켓팅 페이지</h3>
  <div class="container">
    <% moviesSchedule.forEach(movieSchedule => { %>
    <div>
      <div><%= movieSchedule.title %></div>
      <% movieSchedule.rooms.forEach(room => { %>
      <div>상영관: <%= room.room_id %></div>
      <% room.schedules.forEach(schedule => { %>
      <div>movie_time_id: <%= schedule.movie_time_id %></div>
      <div>시작시간: <%= schedule.start_time %></div>
      <div>종료시간: <%= schedule.end_time %></div>
      <div>좌석: <%= schedule.ordered_seat_count %> / 100</div>
      <% }) %>
      <% }) %>
    </div>
    <hr />
    <% }) %>
</body>

</html>