
<!DOCTYPE html>
<html lang="en">
<%- include('include/head') %>
  <link rel="stylesheet" href="/styles/Ticketing.css" />
  <title>예매</title>

  <body>
    <%- include('include/header') %>
      <div class="container">
        <div id="date-links-container">

        </div>
        <% moviesSchedule.forEach(movieSchedule=> { %>
          <div class="times">
            <div class="movie_info">
              <% if (movieSchedule.age_limit==='ALL' ) { %>
                <img class="grade_img" src="/images/grade_all.png" alt="grade all">
                <% } else if (movieSchedule.age_limit==='12' ) { %>
                  <img class="grade_img" src="/images/grade_12.png" alt="grade 12">
                  <% } else if (movieSchedule.age_limit==='15' ) { %>
                    <img class="grade_img" src="/images/grade_15.png" alt="grade 15">
                    <% } else if (movieSchedule.age_limit==='18' ) { %>
                      <img class="grade_img" src="/images/grade_18.png" alt="grade 18">
                      <% } %>
                        <a href="/movie/movieDetail/<%= movieSchedule.title %>">
                          <strong>
                            <%= movieSchedule.title %>
                          </strong>
                        </a>
        <span><%= movieSchedule.running_time %>분</span>
        <span><%= movieSchedule.released_date %></span>
            </div>
            <% movieSchedule.rooms.forEach(room=> { %>
              <div class="info-room">
                <%= room.room_id %>관 | 총 100석
              </div>
              <hr />
              <ul>
                <% room.schedules.forEach(schedule=> { %>
                  <li>
                    <a href="/movie/ticketing/personSeat?movie_time_id=<%= schedule.movie_time_id %>">
                      <div class="movie_time">
                        <%= schedule.start_time %> ~ <%= schedule.end_time %>
                      </div>
                      <div class="seat_count">
                        <%= 100-schedule.ordered_seat_count %>석
                      </div>
                    </a>
                  </li>
                  <% }) %>
              </ul>
              <% }) %>
          </div>
          <% }) %>
  </body>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var currentDate = new Date();

      for (var i = 0; i < 7; i++) {
        var nextDate = new Date(currentDate);
        nextDate.setDate(currentDate.getDate() + i);

        var year = nextDate.getFullYear();
        var month = ('0' + (nextDate.getMonth() + 1)).slice(-2);
        var day = ('0' + nextDate.getDate()).slice(-2);

        var formattedDate = year + '-' + month + '-' + day;

        var dateContainer = document.createElement('div');
        dateContainer.classList.add('date-container');

        var monthElement = document.createElement('div');
        monthElement.classList.add('month');
        monthElement.textContent = nextDate.toLocaleDateString('ko-KR', { month: '2-digit' });
        dateContainer.appendChild(monthElement);

        var dayElement = document.createElement('div');
        dayElement.classList.add('day');
        dayElement.textContent = nextDate.toLocaleDateString('ko-KR', { day: '2-digit' });
        dateContainer.appendChild(dayElement);

        var weekdayElement = document.createElement('div');
        weekdayElement.classList.add('weekday');
        weekdayElement.textContent = nextDate.toLocaleDateString('ko-KR', { weekday: 'short' }).replace(/[\(\)]/g, '');

        dateContainer.appendChild(weekdayElement);

        var dateLink = document.createElement('a');
        dateLink.href = "/movie/ticketing?date=" + formattedDate;

       if (window.location.href === 'http://localhost:8080/movie/ticketing' && i===0 ){
          dateLink.classList.add('selected-date');
        } else if (window.location.search.includes('date=' + formattedDate)) {
          dateLink.classList.add('selected-date');
        }
        dateLink.innerHTML = '<div class="date-container"><div class="month">' + month + '</div><div class="day">' + day + '</div><div class="weekday" style="color: ' + (weekdayElement.textContent === '토' ? 'blue' : (weekdayElement.textContent === '일' ? 'red' : '')) + ';">' + weekdayElement.textContent + '</div></div>';

        document.getElementById('date-links-container').appendChild(dateLink);
      }
    });
  </script>

</html>

</html>