<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>dongguk theater</title>
</head>

<body>
  <h3>티켓팅 페이지</h3>
  <div class="container">
    <% moviesSchedule.forEach(movieSchedule => { %>
    <div>
      <div><%= movieSchedule.title %></div>
      <% movieSchedule.rooms.forEach(room => { %>
        <div>상영관:  <%= room.room_id %></div>
          <% room.schedules.forEach(schedule => { %>
            <div>시작시간: <%= schedule.start_time %></div>
            <div>종료시간: <%= schedule.end_time %></div>
            <div>좌석: <%= schedule.ordered_seat_count %> / 100</div>
          <% }) %>
      <% }) %>
    </div>
    <hr />
    <% }) %>
</body>

</html>